<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" 
                th:xmlns="http://www.thymeleaf.org" 
                sec:xmlns="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <h1>Mi primera app de Spring</h1>
            
        </header>
        
        <footer th:fragment="footer">
            <form method="POST" th:action="@{/logout}">
                <a href="#" onclick="this.parentNode.submit();">Cerrar sesión</a>
            </form>
        </footer>
    </body>
</html>
